SECRET_KEY = 'XXXXXXXXXXXXXXXXXX'


EMAIL_HOST = 'pop.gmail.com'
EMAIL_PORT = 25
EMAIL_HOST_USER = 'eldololna@gmail.com'
EMAIL_HOST_PASSWORD = 'Alex322990'
DEFAULT_FROM_EMAIL = 'XXXXXXXXXXXX@gmail.com'
EMAIL_USE_TLS = False
EMAIL_USE_SSL = True